<div class="login-container">
  <div class="login-left">
    <form [formGroup]="loginForm">
      <mat-form-field>
        <label for="email">Email</label>
        <input type="email"matInput  placeholder="test@atheros.ai" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <label for="password">Password</label>
        <input type="password" matInput  placeholder="******" formControlName="password">
      </mat-form-field>
      <button class="btn btn-signin" (click)="onSubmit()">Sign In</button>
    </form>
    <p>Don't have an account? <a href="/register">Sign Up Now</a></p>
  </div>
</div>
