<form class="form" [formGroup]="productForm">
  <table class="full-width" cellspacing="0">
    <tbody>
      <tr>
        <td><mat-form-field class="full-width">
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="Product Name" formControlName="Name">
          </mat-form-field></td>
        <td><mat-form-field class="full-width">
            <mat-label>Inventory</mat-label>
            <input matInput type="number" placeholder="Inventory" formControlName="Inventory">
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field>
            <mat-label>Product Type</mat-label>
            <mat-select formControlName="ProductType">
              @for(option of productTypeOptions; track option.key){
              <mat-option [value]="option.key">{{option.value}}</mat-option>
              }
            </mat-select>
          </mat-form-field></td>
        <td><mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="Description"></textarea>
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="full-width">
            <mat-label>Wholesale Price</mat-label>
            <input matInput placeholder="Wholesale Price" formControlName="WholesalePrice">
          </mat-form-field></td>
        <td><mat-form-field class="full-width">
            <mat-label>Retail Price</mat-label>
            <input matInput placeholder="Retail Price" formControlName="RetailPrice">
          </mat-form-field></td>
      </tr>
      <tr>
        <td>
          <ik-upload 
          fileName="test.jpg" 
          (onError)="handleUploadError($event)"
          (onSuccess)="handleUploadSuccess($event)"
          [authenticator]="authService.authenticator" 
          [transformation] = "{
            'pre': 'l-text,i-Imagekit,fs-50,l-end', 
            'post': [
                {
                    'type': 'transformation', 
                    'value': 'w-100'
                }
            ]
          }"
          >
        </ik-upload> 
        @if (isImageUploadFinished) {
          <button mat-icon-button>
          <mat-icon>check</mat-icon>
        </button>
         
        } @else{
          <button mat-icon-button>
            <mat-icon>cancel</mat-icon>
          </button>
        }
      
        </td>
      </tr>
             
      <tr>
        <td>
          <mat-form-field>
            <mat-label>IsVisible</mat-label>
            <mat-select formControlName="IsVisible">
              @for(yesOrNo of yesNoEnum; track yesOrNo.key){
                <mat-option [value]="isYes(yesOrNo.key)">{{yesOrNo.value}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Is Soft Deleted</mat-label>
            <mat-select formControlName="IsDeleted">
              @for(yesOrNo of yesNoEnum ; track yesOrNo.key){
                <mat-option [value]="isYes(yesOrNo.key)">{{yesOrNo.value}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          
        </td>
      </tr>
    </tbody>
  </table>
  <button class="saveButton" mat-raised-button (click)="save()">Save</button>
</form>