.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-left: 2%;
    padding-top: 6%;
    padding-bottom: 0rem;
  }

full-width {
    width: 100%;
  }

  td {
    padding-right: 8px;
  }
