<form class="form" [formGroup]="registerForm">
  <table class="full-width" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email">
          </mat-form-field>
        </td>
        <td><mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput  placeholder="password" formControlName="password">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
        </td>
        <td><mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput  placeholder="confirm password" formControlName="confirmPassword">
        </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
  <button  mat-raised-button [disabled]="isSubmitDisabled" (click)="onSubmit()">Save</button>
</form>
