<input type="file" class="file-input"
       [accept]="requiredFileType"
       onchange="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      onclick="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>

    </button>

</div>
@if(uploadProgress){
    <div class="progress">

        <mat-progress-bar class="progress-bar" mode="determinate"
                          [value]="uploadProgress">
      
        </mat-progress-bar>
            <mat-icon class="cancel-upload" onclick="cancelUpload()">delete_forever</mat-icon>
    </div>
}
 


