<mat-sidenav-container class="sideNavContainer">
    <mat-sidenav mode="side" opened class="sideNav">Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <div class="surround">
            <mat-grid-list cols="6" gutter="100rem" rowHeight="5rem">
                @for (p of productObv$ | async; track p.id){
                  <mat-grid-tile [colspan]="1" [rowspan]="2"  class="tileStyle">
                    <product [product]="p"></product>
                  </mat-grid-tile>
                } @empty{
                <mat-grid-tile><span>Sorry no products available!</span> </mat-grid-tile>
                }
            </mat-grid-list>
        </div>
        <div class="footer">
            <mat-paginator class="footer" [length]="pageCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
