@use '@angular/material' as mat;


.surround{
    padding-top: 5rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    padding-right: 0rem;
}

.sideNavContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }

  .sideNav {
    width: 10%;
    padding-top: 5rem;
   @include mat.elevation(2)
  }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
}


.imageStyle{
  border-radius: 3rem;

}

.tileStyle{

}

.selectDiv{
  padding-left: 5%;
  width: 5%;
}

.applyButton{
  padding-left: 5%;
}
